<div class="container mt-5">
  <h3 class="text-center text-uppercase">contrôle de séquence d'observable</h3>
  <p>Start || Stop to controle an OBSERVABLE SEQUENCE with the following buttons :</p>
  <button class="btn btn-primary" (click)="start()">START</button>
  <button class="btn btn-danger" (click)="stop()">STOP</button>
  <div class="d-flex justify-content-around">
    <div *ngFor="let user of users" class="card" style="width: 18rem">
      <img class="card-img-top" [src]="user.avatar" />
      <div class="card-body">
        <h5 class="card-title">{{user.first_name}} f{{user.last_name}}</h5>
        <p class="card-text">{{user.email}}</p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
